<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!--collpased header-->
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><strong>Meetup</strong> Now!</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!--expanded header-->
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Meetups</a></li>
        <li><a href="#">Friends</a></li>
        <li><a href="#">Me</a></li>
        <li>{{loggedInUser.userId}}, {{loggedInUser._id}}</li>
      </ul>
    </div>
  </div>
</nav>
