<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!--collpased header-->
    <div class="navbar-header">
      <a href="#/meetups" class="navbar-brand"><strong>Meetup</strong> Now!</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!--expanded header-->
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li><a href="#/meetups">Meetups</a></li>
        <li class="active"><a href="#/friends">Friends</a></li>
        <li><a href="#">Me</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container content-container" id="friends-container">
  <div class="row">
      <div class="col-md-6">
        <div class="col-md-3">
          <h2 class="group-title">Friends</h2>
        </div>
        <div class="col-md-3">
          <button class="btn btn-success plus-btn" ng-click="addFriend()">+</button>
        </div>
      </div>
  </div>

  <table class="friends-table table table-striped table-hover" ng-show="friends.length > 0">
    <tr>
      <th>username</th>
      <th>first name</th>
      <th>last name</th>
      <th>status</th>
    </tr>
    <tr ng-repeat="friend in friends">
      <td>{{friend.userId}}
      <td>{{friend.firstName}}</td>
      <td>{{friend.lastName}}</td>
      <td></td>
    </tr>
  </table>
  <div class="empty-message" ng-show="friends==null || friends.length ==0">
    <p>No friends? It's okay, you add friends by click +</p>
  </div>

</div>


  <div class="container content-container" id="pending-relationship-container">
    <div class="row">
      <div class="col-md-8">
        <h2 class="group-title">Pending invitations</h2>
      </div>
    </div>
    <table class="friend-invitations-table table table-striped table-hover" ng-show="friendInvitations.length > 0">
      <tr>
        <th>username</th>
        <th>first name</th>
        <th>last name</th>
        <th>action</th>
      </tr>
      <tr ng-repeat="invitation in friendInvitations">
        <td>{{invitation.userId}}
        <td>{{invitation.firstName}}</td>
        <td>{{invitation.lastName}}</td>
        <td>
          <button type="button" class="btn btn-success" ng-click="accept(invitation)">accept</button>
          <button type="button" class="btn btn-danger" ng-click="accept(invitation)">reject</button>
        </td>
      </tr>
    </table>
  </div>
