<navbar active-item="meetups" on-dropdown-select="onUserSelect(item)"/>

<edit-meetup-modal meetup="meetup"></edit-meetup-modal>

<!--Meetups container-->
<div class="container content-container" id="meetups-container">
  <div class="row">
    <div class="col-md-6">
      <div class="col-md-3">
        <h2 class="group-title">My Meetups</h2>
      </div>
      <div class="col-md-3">
        <button class="btn btn-success plus-btn" ng-click="newMeetup()">+</button>
      </div>
    </div>
  </div>

  <table class="meetup-table table table-hover" ng-show="meetups.length>0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Start Time</th>
        <th>End Time</th>
        <th>Status</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody >
      <tr ng-repeat="meetup in meetups | orderBy:'meetupers' | filter:query track by meetup._id">
        <td ng-click="showMeetupInfo(meetup)">{{meetup.name}}</td>
        <td ng-click="showMeetupInfo(meetup)">{{meetup.address}}</td>
        <td ng-click="showMeetupInfo(meetup)">{{meetup.startTime |  date:'medium'}}</td>
        <td ng-click="showMeetupInfo(meetup)">{{meetup.endTime | date:'medium'}}</td>
        <td ng-click="showMeetupInfo(meetup)">
          <p ng-class="['meetup-status',{'text-primary':meetup.status==='INPROGRESS'}, {'text-success':meetup.status==='COMPLETED'},
          {'text-danger':meetup.status==='CANCELLED'}]">
          {{meetup.status | statusFilter }}
          </p>
        </td>
        <td>
          <input type="button" class="btn btn-primary" value="edit"  data-toggle="modal" data-target="#editMeetupModal" ng-click="editMeetup()"></input>
        </td>
      </tr>
    </tbody>
  </table>
  <div class="empty-message" ng-show="meetups==null || meetups.length ==0">
    <p>You current do not have any meet ups</p>
  </div>
</div>

<!--pending friend requests container-->
<div class="container content-container" id="pending-relationship-container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="group-title">Friend Requests</h2>
    </div>
  </div>
  <table class="friend-invitations-table table table-hover" ng-show="friendInvitations.length > 0">
    <tr>
      <th>username</th>
      <th>first name</th>
      <th>last name</th>
      <th>action</th>
    </tr>
    <tr ng-repeat="invitation in friendInvitations">
      <td>{{invitation.userId}}
      <td>{{invitation.firstName}}</td>
      <td>{{invitation.lastName}}</td>
      <td>
        <button type="button" class="btn btn-success" ng-click="accept(invitation)">accept</button>
        <button type="button" class="btn btn-danger" ng-click="accept(invitation)">reject</button>
      </td>
    </tr>
  </table>
</div>
