<navbar active-item="meetups"/>

<div class="container" id="meetup-container">

  <!--modal that allows user to invite friends-->
  <invite-friends-modal user="loggedInUser" meetup="meetup" get-meetupers="getMeetupers()"></invite-friends-modal>

  <!--Meetup general information-->
  <meetup-view meetup="meetup"></meetup-view>

  <div class="row col-lg-12">
    <!--google map-->
    <div class="col-lg-9">
      <div id="map"></div>
    </div>

    <!--meetupers-->
    <div class="col-lg-3" id="meetupers-container">
      <legend>Meetupers<span class="fa fa-compass refocus-icon" ng-click="refocus()"></span></legend><hr/>
      <table class="meetupers-table table table-hover table-striped">
        <tr class="meetuper" ng-repeat="(id, meetuper) in meetupers" ng-click="focusOnMeetuper(meetuper)">
          <td><img ng-src="favicon.ico" width="18"></td>
          <td>{{meetuper.firstName + ' ' + meetuper.lastName}}</td>
        </tr>
      </table>
      <h6 ng-show="meetup.meetupers.length ==0">hit &nbsp;<i class="fa fa-user-plus"></i>&nbsp; to invite friends!</h6>
    </div>
  </div>
  <div class="row col-lg-12 map-hint">
    <span class="fa fa-compass"></span>&nbsp;click to refocus map, and click meetuper to focus and follow him/her
  </div>

</div>
