<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <!--collpased header-->
    <div class="navbar-header">
      <a href="#" class="navbar-brand"><strong>Meetup</strong> Now!</a>
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>

    <!--expanded header-->
    <div class="collapse navbar-collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Meetups</a></li>
        <li><a href="#/friends">Friends</a></li>
        <li><a href="#">Me</a></li>
        <li>{{loggedInUser.userId}}, {{loggedInUser._id}}</li>
      </ul>
    </div>
  </div>
</nav>

  <div class="container content-container" id="meetups-container">

    <div class="row">
      <div class="col-md-6">
        <div class="col-md-3">
          <h2 class="group-title">My Meetups</h2>
        </div>
        <div class="col-md-3">
          <button class="btn btn-success plus-btn" ng-click="newMeetup()">+</button>
        </div>
      </div>
    </div>

    <table class="meetup-table table table-striped table-hover" ng-show="meetups.length>0">
      <thead>
        <tr>
          <th>
            name
          </th>
          <th>
            address
          </th>
          <th>
            start time
          </th>
          <th>
            end time
          </th>
          <th>
            status
          </th>
        </tr>
      </thead>
      <tbody ng-repeat="meetup in meetups | orderBy:'meetupers' | filter:query" ng-click="showMeetupInfo(meetup)">
        <tr >
          <td>
            {{meetup.name}}
          </td>
          <td>
            {{meetup.address}}
          </td>
          <td>
            {{meetup.startTime |  date:'medium'}}
          </td>
          <td>
            {{meetup.endTime | date:'medium'}}
          </td>
          <td>
            <p ng-class="['meetup-status',{'text-primary':meetup.status==='INPROGRESS'}, {'text-success':meetup.status==='COMPLETED'},
                          {'text-danger':meetup.status==='CANCELLED'}]">
              {{meetup.status | statusFilter }}
            </p>
          </td>
          <td>

          </td>
        </tr>
      </tbody>
    </table>
    <div class="empty-message" ng-show="meetups==null || meetups.length ==0">
      <p>You current do not have any meet ups</p>
    </div>
  </div>
