body{
  background-color: #F1F1F1;
}

fieldset label{
  line-height:45px;
  font-size:13px;
}

fieldset .text-info{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255,255,255,0.15);
  color: #008EC5;
  box-shadow: 0px 1px 0px 0px #D4D4D4;
}

fieldset .form-group{
  padding:10px;
}

.form-group.required .control-label:after {
   content:"*";
   color:red;
}

.alert{
  margin-top:55px;
}

/*login page*/
.top-half{
  padding-top:100px;
  padding-bottom:60px;
  background-color:#8CB55E;
}

.bottom-half{
  padding-top:75px;
  width:40%;
  color:#8CB55E;
}

.bottom-half .input-group {
  width:100%;
  position:relative;

}

.bottom-half .input-group .form-control{
  border-radius: 5px;
}

.bottom-half .input-group .btn-login,.btn-signup, .btn-cancel{
  width: 100%;
  border: 0px;
}

.ng-dirty.ng-valid-username{
  border-color: #22b24c;
}

.ng-dirty.ng-invalid, .ng-not-empty.ng-invalid {
  border-color: red;
}

.help-block{
  padding-left:15px;
  color:red;
}

.no-padding{
  padding:0 !important;
}

.modal-header{
  background-color:#79a736;
}

.modal-header button{
  color:white !important;
}

.modal-title{
  color:white;
}

.modal-content{
  border: 1px solid #868686;
}
#map{
  height:45%;
  margin:15px;
}

#modal-map{
  height:45%;
  margin:15px;
}

/**content container**/
.content-container{
  margin-top: 80px;
  background-color:white;
  padding:20px;
  border-radius: 10px;
  border: #d4d4d4 1px solid;
  box-shadow: #dddddd 0px 1px 0px 0px;
}

.content-container .container{
  background-color: #F9F9F9;
  border: 1px solid #e6e6e6;
  box-shadow: #dddddd 0px 1px 0px 0px;
}
.content-container .col-md-6{
  padding-left:8px;
}

.content-container .page-header {
  margin-top:0;
  padding-left:0;
}

.content-container .plus-btn{
  margin-top:24px;
  padding:3px 10px;
}

.group-title{
  border-bottom: 1px solid #dcdcdc;
  margin-left: 5px;
  margin-right: 20px;
}
.group-title-text{
  color:rgba(255, 119, 1, 0.74);
  font-weight: bold;
  padding-bottom: 5px;
  padding-right:15px;
  font-size:28px;
  position:relative;
  float:left;
}

.content-container .empty-message{
  color:#727272;
  font-size:17px;
  padding-left:10px;
}

/**meetups-container**/
#meetups-container td{
  cursor:pointer;
}
#meetups-container .col-md-3{
  width:34%;
}

#meetups-container .meetup-status{
  font-weight: bold;
}

#meetups-container .meetups-table{
  margin-top: 50px;
}

#edit-meetup-modal .form-group{
  padding-top:25px;
}

#edit-meetup-modal a:hover {
 cursor:pointer;
}

#edit-meetup-modal .input-group-addon{
  font-size:20px;
}

#edit-meetup-modal .col-lg-8{
  padding-left: 0px;
  padding-right: 0px;
}

#edit-meetup-modal .address-hint{
  font-size:12px;
}

#edit-meetup-modal .address-hint .fa-map-marker{
  color: #2780e3;
}

/**friends-container**/
#friends-container .col-md-3{
  width:20%;
}

/**meetup page styling**/
#meetup-container{
  margin-top: 120px;
}
#meetup-container .col-lg-2{
  width:18%;
}

#meetup-container hr{
  border-top:1px solid #CCCCCC;
  margin-top:-5px;
}

#meetup-container legend{
  border: 0;
}

#meetup-container .row{
  padding:10px;
}

#meetup-container .edit-meetup-btn{
  float:right;
  margin-top:15px;
}
#meetup-container .cancel-btn{
  float:right;
}

#meetup-container .fa{
  font-size:20px;
}

#meetup-container .fa-check{
  color:#28B62C;
}

#meetup-container .fa-remove{
  color:#FF4136;
}

#meetup-container .map-hint{
  font-size: 12px;
  padding-left:40px;
  margin-top:-30px;
}

#meetup-container .map-hint .fa{
  font-size: 12px;
}

#meetup-container .refocus-icon{
  font-size:25px;
  float: right
}

#meetup-container .fa-compass{
  color: #28B62C;
}

#meetup-container #meetupers-container{
  margin-top:10px;
  height:45%;
  overflow-y:auto;
}

#meetup-container #meetupers-container legend{
  font-size:16px;
  margin-bottom:10px;
}

/**add friend container**/
#add-friend-container{
  margin-top: 120px;
}

#add-friend-container a{
  cursor: pointer;
}

#user-container{
  margin-top: 8%;
}

#user-container .btn-add-friend{
    float:right;
    position: relative;
    margin-top:20px;
}

/**navbar**/
#nav-search-form .form-control{
  min-width:250px
}

#navbar-main a:hover {
 cursor:pointer;
}
