body{
  background-color: #F1F1F1;
}

.top-half{
  padding-top:100px;
  padding-bottom:60px;
  background-color:#8CB55E;
}

.bottom-half{
  padding-top:75px;
  width:40%;
  color:#8CB55E;
}

.bottom-half .input-group {
  width:100%;
  position:relative;

}

.bottom-half .input-group .btn-login,.btn-signup, .btn-cancel{
  width: 100%;
  border: 0px;
}

.no-padding{
  padding:0 !important;
}

.modal-header{
  background-color:#158cba;
}

.modal-header button{
  color:white !important;
}

.modal-title{
  color:white;
}

#map{
  height:45%;
  margin:15px;
}

#modal-map{
  height:45%;
  margin:15px;
}

/**content container**/
.content-container{
  margin-top: 120px;
  background-color:white;
}

.content-container .container{
  background-color: #F9F9F9;
  border: 1px solid #e6e6e6;
  box-shadow: #dddddd 0px 1px 0px 0px;
}
.content-container .col-md-6{
  padding-left:8px;
}

.content-container .page-header {
  margin-top:0;
  padding-left:0;
}

.content-container .plus-btn{
  margin-top:24px;
  padding:3px 10px;
}

.content-container .group-title{
  color:rgba(255, 119, 1, 0.74);
  font-weight: bold;
  padding-bottom: 5px;
  padding-right:0;

  font-size:28px;
}

.content-container .empty-message{
  color:#727272;
  font-size:17px;
  padding-left:10px;
}

/**meetups-container**/
#meetups-container td{
  cursor:pointer;
}
#meetups-container .col-md-3{
  width:34%;
}

#meetups-container .meetup-status{
  font-weight: bold;
}

#editMeetupModal .form-group{
  padding-top:25px;
}

#editMeetupModal a:hover {
 cursor:pointer;
}

/**friends-container**/
#friends-container .col-md-3{
  width:20%;
}

/**meetup page styling**/
#meetup-container{
  margin-top: 120px;
}
#meetup-container .col-lg-2{
  width:18%;
}

#meetup-container hr{
  border-top:1px solid #CCCCCC;
  margin-top:-5px;
}

#meetup-container legend{
  border: 0;
}

#meetup-container .row{
  padding:10px;
}

#meetup-container label{
  line-height:45px;
  font-size:13px;
}
#meetup-container p{
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 10px;
  background-color: rgba(255,255,255,0.15);
  color: #008EC5;
  box-shadow: 0px 1px 0px 0px #D4D4D4;
}

#meetup-container .create-meetup-btn{
  float:right;
  margin-right: 5px;
}
#meetup-container .cancel-btn{
  float:right;
}

#meetup-container .fa{
  font-size:20px;
}

#meetup-container .fa-check{
  color:#28B62C;
}

#meetup-container .fa-remove{
  color:#FF4136;
}

#meetup-container #meetupers-container{
  margin-top:10px;
  height:45%;
  overflow-y:auto;
}

#meetup-container #meetupers-container legend{
  font-size:16px;
  margin-bottom:10px;
}

/**add friend container**/
#add-friend-container{
  margin-top: 120px;
}

#add-friend-container a{
  cursor: pointer;
}

/**navbar**/
#nav-search-form .form-control{
  min-width:250px
}
