body{
  background-color: #F1F1F1;
}
.top-half{
  padding-top:100px;
  padding-bottom:60px;
  background-color:#8CB55E;
}

.bottom-half{
  padding-top:75px;
  width:40%;
  color:#8CB55E;
}

.bottom-half .input-group {
  width:100%;
  position:relative;

}

.bottom-half .input-group .btn-login,.btn-signup, .btn-cancel{
  width: 100%;
  border: 0px;
}

.no-padding{
  padding:0 !important;
}

/**meetup page styling**/
#meetups-container{
    padding-top:120px;
}

#meetups-container .container{
  background-color: #F9F9F9;
  border: 1px solid #e6e6e6;
  box-shadow: #dddddd 0px 1px 0px 0px;
}

#meetups-container .page-header {
  margin-top:10px;
  margin-left:5px;
}

#meetups-container .group-title{
  color:rgba(255, 152, 0, 0.87);
}

#meetups-container .plus-btn{
  margin-top:36px;
  padding:3px 10px;
}

#meetups-container .empty-message{
  color:#727272;
  font-size:17px;
}

#meetups-container .meetuper-info{
}
#meetups-container .meetuper-info .meetuper-header{
  color:#2D6784;
  font-weight: bold;
  padding-bottom: 5px;
  border-bottom: 1px solid #BBBBBB;
}
#meetups-container .meetuper-info .table{
  font-size: 13px;
}

/**meetup page styling**/
#meetup-container{
  padding-top: 120px;
}

#meetup-container .col-lg-2{
  width:18%;
}
#meetup-container hr{
  border-top:1px solid #CCCCCC;
  margin-top:-15px;
}

#meetup-container .row{
  padding:10px;
}

#meetup-container label{
  line-height:45px;
  font-size:13px;
}
#meetup-container p{
  border: 1px solid lightgray;
  padding: 10px;
  background-color: rgba(255,255,255,0.15);
}
#meetup-container #map{
  height:45%;
  margin:15px;
}

/**new meetup page styling**/
.new-meetup-form .btn{
  margin:5px;
}
