<div class="modal fade" role="dialog" id="editMeetupModal">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">{{meetup.name}}</h4>
      </div>
      <div class="modal-body" style="padding:0">
        <form  name="meetupForm">
          <fieldset>
            <div class="col-lg-12 row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="name" class="col-lg-3 control-label">Name:</label>
                  <div class="col-lg-8">
                    <input type="text" class="form-control" required ng-model="meetup.name"></input>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="address" class="col-lg-3 control-label">Address:</label>
                  <div class="col-lg-8">
                    <div class="input-group">
                      <input type="text" class="form-control" required ng-model="meetup.address" ng-model-options="{debounce:2000}" ng-change="updatePosition()"></input>
                      <span class="input-group-addon">
                        <a ng-click="useCurrentAddress()"><i class="fa fa-map-marker"></i></a>
                      </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-lg-12 row">
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="startTime" class="col-lg-3 control-label">Start Time:</label>
                  <div class="col-lg-8">
                    <input type="datetime-local" class="form-control" required ng-model="meetup.startTime"</input>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="form-group">
                  <label for="endTime" class="col-lg-3 control-label">End Time:</label>
                  <div class="col-lg-8">
                    <input type="datetime-local" class="form-control" required ng-model="meetup.endTime"></input>
                  </div>
                </div>
              </div>
            </div>
          </fieldset>
        </form>

        <!--google map-->
        <div class="row">
          <div id="modal-map"></div>
        </div>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ng-disabled="meetupForm.$invalid" ng-click="saveMeetup()" data-dismiss="modal">Save changes</button>
      </div>
    </div>
  </div>
</div>
